@using Sochs.Library.Enums;
@using Sochs.Library.Events;
@using Sochs.Library.Interfaces;
@using Sochs.Library;
@using System.Runtime;
@using Sochs.Library.Models;

@inject IDailyTasksService _dailyTasksService;
@inject ITimeService _timeService;
@implements IDisposable;

<div class="container">
  <div class="row">
    <div class="col">

      <!-- Task completion interface -->
      @if (_taskData != null && _taskData.HasData)
      {
        var tasks = _taskData.GetTasks(Child, _timeOfDay);
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Image Path</th>
              <th scope="col">Child</th>
              <th scope="col">Time Of Day</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var task in tasks)
            {
              <tr>
                <th scope="row">@task.Value.Id</th>
                <td>@task.Value.Description</td>
                <td><img src="@task.Value.ImagePath" /></td>
                <td>@task.Value.Child.ToString()</td>
                <td>@task.Value.TimeOfDay.ToString()</td>
              </tr>
            }
          </tbody>

        </table>
      }
      
    </div>
  </div>
</div>

@code {

  [Parameter]
  public Child Child { get; set; }

  private TimeOfDay _timeOfDay { get; set; }

  private DailyTaskData? _taskData { get; set; }

  protected override void OnInitialized()
  {
    _dailyTasksService.Child = Child;

    _dailyTasksService.OnDailyTasksReset        += HandleOnDailyTasksReset;
    _dailyTasksService.OnDailyTaskUpdated       += HandleOnDailyTaskUpdated;
    _dailyTasksService.OnActiveDailyTasksChange += HandleOnActiveDailyTasksChange;

    _timeService.OnTimeUpdated += HandleTimeUpdated;

    base.OnInitialized();
  }

  public void HandleTimeUpdated(object? sender, TimeUpdatedEventArgs args)
  {
    if (args != null)
    {
      _timeOfDay = args.TimeOfDay;
    }
  }

  public void HandleOnDailyTasksReset(object? sender, DailyTasksResetEventArgs args)
  {
    if (args != null)
    {
      _taskData = args.TaskData;

      StateHasChanged();
    }
  }

  public void HandleOnDailyTaskUpdated(object? sender, DailyTaskUpdatedEventArgs args)
  {
    if (args != null)
    {
      _taskData = args.TaskData;

      StateHasChanged();
    }
  }

  public void HandleOnActiveDailyTasksChange(object? sender, ActiveDailyTasksChangeEventArgs args)
  {
    if (args != null)
    {
      _taskData = args.TaskData;

      StateHasChanged();
    }
  }

  public void Dispose()
  {
    _dailyTasksService.OnDailyTasksReset        -= HandleOnDailyTasksReset;
    _dailyTasksService.OnDailyTaskUpdated       -= HandleOnDailyTaskUpdated;
    _dailyTasksService.OnActiveDailyTasksChange -= HandleOnActiveDailyTasksChange;
  }
}
